@font-face {
    font-family: 'Brittany Signature';
    src: url('BrittanySignatureRegular.eot');
    src: url('BrittanySignatureRegular.eot?#iefix') format('embedded-opentype'),
        url('BrittanySignatureRegular.woff2') format('woff2'),
        url('BrittanySignatureRegular.woff') format('woff'),
        url('BrittanySignatureRegular.ttf') format('truetype'),
        url('BrittanySignatureRegular.svg#BrittanySignatureRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

